ubnt/persistent/profiles/*
.DS_Store
secrets/*
**/secrets/*
**/log/
craigslist-scrape/*

*rsa_id.pub
id_rsa.pub
id_rsa
id_dsa.pub
id_dsa
*.pem
*.key
.twilio/
**/wireless
vanrouter/etc
*__pycache__*node_modules/
