ubnt/persistent/profiles/*
ubnt/private-backups/
.DS_Store
secrets/*
**/secrets/*
**/price_checks*.tsv
**/price_checks.disabled
**/price_check*.sqlite*
**/log/
craigslist-scrape/*
tmp/*
*rsa_id.pub
id_rsa.pub
id_rsa
id_dsa.pub
id_dsa
*.pem
*.key
.twilio/
**/wireless
vanrouter/etc
!vanrouter/etc/
vanrouter/etc/*
!vanrouter/etc/mwan3.user
*__pycache__*
*.pyc
node_modules/
**/node_modules/
AGENTS.private.md
