[Unit]
Description=BME280 -> MQTT publisher
After=network-online.target
Wants=network-online.target

[Service]
User=pi
Environment="PATH=/home/pi/pyvenv/bin:/usr/bin"
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PYTHONPATH=/home/pi/scripts/python-packages/current
ExecStart=/home/pi/pyvenv/bin/python -P -m pi.apps.bme280
Restart=always
RestartSec=5
RuntimeDirectory=bme280-mqtt
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target