[Unit]
Description=Check for fatal Raspberry Pi USB-controller failure

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=10s
Unit=vanpi-usb-controller-watchdog.service

[Install]
WantedBy=timers.target
